// overwrite the default colors provided by bootstrap
$primary: #34529e;
$secondary: #ffffff;

//button colors
$primary-button: $primary;
$primary-button-font--color: $secondary;
$secondary-button: #6c757d;
$secondary-button-font--color: $secondary;
$transparent-button: transparent;
$transparent-button: #8d8d8d;