@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');                                        

$font-family:"Nunito", sans-serif;

// overwrite the default font sizing provided by bootstrap
$h1-font--size: 14px;
$h2-font--size: 14px;
$h3-font--size: 30px;
$h4-font--size: 14px;
$h5-font--size: 14px;
$h6-font--size: 14px;
$small: 13px;

// button font sizes
$button-font: 13px;